<%inherit file="../base.html"/>
<%! from django.shortcuts import reverse %>
<%def name="title()">管理员界面</%def>
<%def name="content()">
    <h1>
        <span>
            <a href="${reverse('dashboard_index')}"><button class="btn" id="back-button"><</button></a>
        </span>
        管理员页面
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th>用户名</th>
                <th>是否拥有权限</th>
                <th>创建日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            % for user in users:
                <tr>
                    <td>${user.username}</td>
                    <td>
                        % if user.is_staff:
                            有
                        % else:
                            无
                        % endif
                    </td>
                    <td>${user.date_joined}</td>
                    <td>
                    % if not user.is_superuser:
                        % if user.is_staff:
                        <a href="${reverse('admin_update_status')}?status=on&id=${user.id}"><button class="btn">取消权限</button></a>
                        % else:
                        <a href="${reverse('admin_update_status')}?status=off&id=${user.id}"><button class="btn">授予权限</button></a>
                        % endif
                    % endif
                    </td>
                </tr>
            % endfor
        </tbody>
    </table>
    <div class="paginator">
        ${paginator(page, total)}
    </div>
</%def>

<%def name="paginator(page, total)">
<nav>
    <ul class="pagination">
        % if page>1:
            <li class="page-item">
                <a class="page-link" href="${reverse('admin_manage')}?page=1"> << </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="${reverse('admin_manage')}?page=${page-1}"> < </a>
            </li>
            <li class="page-item disabled">
                <span class="page-link" style="color: #5a189a;"> ${page} / ${total} </span>
            </li>
            % if page>=total:
                <li class="page-item disabled">
                    <span class="page-link"> > </span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link"> >> </span>
                </li>
            % else:
                <li class="page-item">
                    <a class="page-link" href="${reverse('admin_manage')}?page=${page+1}"> > </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="${reverse('admin_manage')}?page=${total}"> >> </a>
                </li>
            % endif
        % else:
            <li class="page-item disabled">
                <span class="page-link"> << </span>
            </li>
            <li class="page-item disabled">
                <span class="page-link"> < </span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" style="color: #5a189a;"> ${page} / ${total} </span>
            </li>
            % if total>page:
                <li class="page-item">
                    <a class="page-link" href="${reverse('admin_manage')}?page=${page+1}"> > </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="${reverse('admin_manage')}?page=${total}"> >> </a>
                </li>
            % else:
                <li class="page-item disabled">
                    <span class="page-link"> > </span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link"> >> </span>
                </li>
            % endif
        % endif
    </ul>
</nav>
</%def>