<%! from django.shortcuts import reverse %>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-color: #6f42c1">
    <div class="container-fluid">
        <a class="navbar-brand" href="${reverse('dashboard_index')}">学习视频网站汇总</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="${reverse('external_video')}">外链视频</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="${reverse('list_custom_video')}">自制视频</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                ${loginCheck(request.session.get('username', ''))}
            </ul>
        </div>
    </div>
</nav>

<%def name="loginCheck(username)">
    % if not username:
        <a class="nav-link" href="${reverse('dashboard_login')}"> 登录 </a>
        <a class="nav-link" href="${reverse('dashboard_register')}"> 注册 </a>
    % else:
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">${username}</a>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDropdown">
                % if username == "admin":
                    <li><a class="dropdown-item" href="${reverse('admin_manage')}">管理用户</a></li>
                % endif
                <li><a class="dropdown-item" href="${reverse('dashboard_logout')}">注销</a></li>
            </ul>
        </li>
    % endif
</%def>