<%inherit file="../base.html"/>
<%!
    from django.shortcuts import reverse
    from app.dashboardModels.video import VideoType, VideoSource, Nation
%>
<%def name="title()">编辑信息</%def>
<%def name="css()"><link rel="stylesheet" href="/static/dashboard/css/custom/editVideo.css"></%def>
<%def name="content()">
    <h1>
        <span>
            <a href="${reverse('list_custom_video')}"><button class="btn" id="back-button"><</button></a>
        </span>
        编辑信息
    </h1>
    ${createForm()}
    ${showError(error)}
</%def>


<!---------------------------- 主要是表单内容 --------------------------------->
<%def name="createForm()">
<form method="POST" action="${reverse('custom_video_edit', kwargs={'id': video.id})}" id="create-video-form" class="col-4 offset-4">
    ${csrf_token}
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="videoName" name="videoName" placeholder="videoName" value="${video.videoName}">
        <label for="videoName">标题</label>
    </div>
    <div class="form-floating mb-1">
        <input type="text" class="form-control" id="image" name="image" placeholder="image" value="${video.image}">
        <label for="image">图片</label>
    </div>
    <div class="form-floating mb-1">
        <select class="form-select" id="videoType" name="videoType">
            % for videotype in VideoType:
                % if videotype.value == video.videoType:
                <option value="${videotype.value}" selected>${videotype.label}</option>
                % else:
                <option value="${videotype.value}">${videotype.label}</option>
                % endif
            % endfor
        </select>
        <label for="videoType">视频种类</label>
    </div>
    <div class="form-floating mb-1">
        <input type="text" class="form-control" placeholder="videoSource" name="videoSource" id="videoSource" value="用户自制" disabled>
        <label for="videoSource">视频源</label>
    </div>
    <div class="form-floating mb-1">
        <select class="form-select" id="nation" name="nation">
            % for nation in Nation:
                % if nation.value == video.nation:
                <option value="${nation.value}" selected>${nation.value}</option>
                % else:
                <option value="${nation.value}">${nation.value}</option>
                % endif
            % endfor
        </select>
        <label for="nation">国家</label>
    </div>
    <div class="form-floating mb-1">
        <textarea class="form-control" id="desc" style="height: 100px" name="desc">${video.desc}</textarea>
        <label for="desc">简介</label>
    </div>
    <button class="btn btn-purple mb-1">提交修改</button>
</form>
</%def>


<%def name="showError(err)">
    % if err:
    <div id="errorwrapper">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>更新失败: </strong> ${err}. 请重新尝试.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    % endif
</%def>