<%inherit file="../../base.html"/>
<%!
    from django.shortcuts import reverse
    from app.models.video import IdentityType
%>
<%def name="title()">编辑剧集</%def>
<%def name="css()"><link href="/static/dashboard/css/custom/videoSubView.css" rel="stylesheet"></%def>



<%def name="content()">
    <h1>
        <span>
            <a href="${reverse('custom_video_detail', kwargs={'id': video.id})}"><button class="btn" id="back-button"><</button></a>
        </span>
        编辑剧集
    </h1>

    <div style="margin-left: 2rem">
        ${tableVideosub()}
        <div>
            <button style="width: 100%" class="btn btn-purple mb-2" data-bs-toggle="offcanvas" data-bs-target="#videosub"> 添加 </button>
        </div>
        ${offcanvas_sub()}
    </div>

    <div id="error-area" class="col-4">
        ${showError(error)}
    </div>
</%def>

<%def name="js()">
    <script src="/static/dashboard/js/custom/updateSub.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
	        $(".refresh").click(function() {
	            let task_id = $('#task_id').val();
	            $.ajax({
                    url: "${reverse('checkStatus')}",
                    type: "GET",
                    data: {"task_id": task_id},
                    success: function(result){
                        let status = result['status'];  // false or true
                        if(status===true){
                            location.reload();
                        }
                    }
                });
            });
        });
    </script>
</%def>


<!---------------------------- 主要是数据库信息的呈现 --------------------------------->
<%def name="tableVideosub()">
<h2>剧集信息</h2>
<table class="table">
    <thead>
        <tr>
            <th style="width: 65%;">名称</th>
            <th style="width: 10%;">编辑</th>
            <th style="width: 10%;">删除</th>
            <th style="width: 15%;">状态</th>
        </tr>
    </thead>
    <tbody>
    % if details:
        % for detail in details:
        <tr>
            <td>
            % if detail.url:
                <a href="${reverse('custom_video_play', kwargs={'videoID': video.id, 'subID': detail.id})}">${detail.name}</a>
            % else:
                ${detail.name}
            % endif
            </td>
            <td>
            % if detail.url:
                <button class="btn btn-purple-outline editCustomVideo-btn" data-id="${detail.id}" data-name="${detail.name}" data-bs-toggle="modal" data-bs-target="#editForm">编辑</button>
                ${modal()}
            % else:
                <div class="spinner-border text-warning" role="status" style="display: inline-block">
                    <span class="visually-hidden">Loading...</span>
                </div>
            % endif
            </td>
            <td>
            % if detail.url:
                <a href="${reverse('custom_videosub_delete', kwargs={'videoID': video.id, 'subID': detail.id})}">
                    <button class="btn btn-danger" class="delete-btn">删除</button>
                </a>
            % else:
                <span class="text-warning" style="font-weight: bolder">等待上传...</span>
            % endif
            </td>
            <td>
                % if detail.url:
                    <img src="https://img.icons8.com/material-sharp/24/26e07f/checked-2.png"/>
                % else:
                    <button class="btn btn-warning refresh">刷新</button>
                    <input type="hidden" id="task_id" value="${task_id}">
                % endif
            </td>
        </tr>
        % endfor
    % endif
    </tbody>
</table>
</%def>


<!---------------------------- 弹出修改剧集的框 ------------------------------->
<%def name="modal()">
    <div class="modal fade" id="editForm" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #6f42c1;">
                    <h5 class="modal-title" style="color: #ffffff;">编辑已上传视频</h5>
                    <button style="background-color: #ffffff;" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!------------ 为form ---------------->
                <div class="modal-body">
                    <form method="POST" action="${reverse('custom_videosub_update', kwargs={'id': video.id})}" id="edit-certain-video">
                        ${csrf_token}
                        <div class="form-floating mb-1">
                            <input type="text" class="form-control" id="updateSub-name" name="name">
                            <label for="updateSub-name">名称</label>
                        </div>
                        <input type="hidden" id="updateSub-id" name="id">
                        <button class="btn btn-purple mb-1">修改</button>
                    </form>
                <!------------------------------------>
                </div>
            </div>
        </div>
    </div>
</%def>



<!---------------------------- 主要是错误内容显示 --------------------------------->
<%def name="showError(err)">
    % if err:
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>失败: </strong> ${err}. 请重新尝试.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    % endif
</%def>


<!---------------------------- 剧集侧边弹出栏 -------------------------------->
<%def name="offcanvas_sub()">
<div class="offcanvas offcanvas-end" id="videosub" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">新增剧集信息</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <form enctype="multipart/form-data" method="POST" action="${reverse('custom_videosub_add', kwargs={'id': video.id})}">
                ${csrf_token}
                <div class="form-floating mb-1">
                    <input type="text" class="form-control" id="videoName" name="name">
                    <label for="videoName">名称</label>
                </div>
                <div class="input-group mb-1">
                    <input type="file" id="url" name="url" class="form-control">
                </div>
                <button class="btn btn-purple mb-1">添加新剧集</button>
            </form>
        </div>
    </div>
</%def>