html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.narbar {
    margin-bottom: 0;
}

.dropdown-menu {
    min-width: 5.7rem;
}

.dropdown-menu[data-bs-popper] {
    left: -1rem;
    margin-top: .125rem;
}

/*
    base-area
*/
#base-area {
    width: 100%;
    position: relative;
    height: 100%;
    padding-bottom: 5rem;
}

h1 {
    margin: 2rem;
}

.btn-purple-outline {
    border: 2px solid #6f42c1;
    background-color: #ffffff;
    color: #6f42c1;
    transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}

.btn-purple-outline:hover {
    background-color: #6f42c1;
    color: #ffffff;
}


.btn-purple {
    background-color: #6f42c1;
    color: #ffffff;
    transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}

.btn-purple:hover {
    background-color: #5A349E;
    color: #ffffff;
}


.paginator {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px;
}


.page-link {
    color: #ffffff;
    background-color: #6f42c1;
}

.page-link:hover {
    color: #6f42c1;
    background-color: #ffffff;
}


#back-button {
    background-color: #6f42c1;
    color: #ffffff;
    transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
}

#back-button:hover {
    border-radius: 50%;
}
