html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.narbar {
    margin-bottom: 0;
}

.dropdown-menu {
    min-width: 5.7rem;
}

.dropdown-menu[data-bs-popper] {
    left: -1rem;
    margin-top: .125rem;
}

/*
    base-area
*/
#base-area {
    width: 100%;
    position: relative;
    height: 100%;
}


/*
    sidebar
*/

#sidebar {
    width: 15%;
}

#sidebar li {
    background-color: #ffffff;
    margin: 0.1rem 0.5rem;
    text-align: center;
    padding: 1px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

#sidebar li:hover{
    background-color: #6f42c1;
}

#sidebar a {
    color: #6f42c1;
    text-decoration: underline;
    transition: color 0.3s ease-in-out;
}

#sidebar a:visited {
    color: #6f42c1;
}

#sidebar a:hover {
    color: #ffffff;
    text-decoration: none;
}

/*
    content
*/
#content {
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #6f42c1;
}

h1 {
    margin: 2rem;
}

.btn {
    border: 2px solid #6f42c1;
    background-color: #ffffff;
    color: #6f42c1;
}

.btn:hover {
    background-color: #6f42c1;
    color: #ffffff;
}

.paginator {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 10px;
}


.page-link {
    color: #ffffff;
    background-color: #6f42c1;
}

.page-link:hover {
    color: #6f42c1;
    background-color: #ffffff;
}