#edit-filed {
    position: fixed;
    right: 2rem;
    top: 25%;
}

#error-area {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    width: 15%;
}

#offcanvas-add {
    background-color: #6f42c1;
    color: #ffffff;
    width: 100%;
}

#offcanvas-add:hover {
    background-color: #ffffff;
    color: #6f42c1;
}

#back-button {
    border-radius: 50%;
    background-color: #6f42c1;
    color: #ffffff;
}

#back-button:hover {
    background-color: #ffffff;
    color: #6f42c1;
}

#update-form-area {
    width: 20%;
    position: fixed;
    right: 2rem;
    top: 35%;
}

#update-form {
    border: 2px solid #cccccc;
    border-radius: 1rem;
    display: none;
    padding: 1rem;
    background-color: #cccccc;
}