#edit-filed {
    position: fixed;
    right: 2rem;
    top: 25%;
}

#error-area {
    position: fixed;
    right: 2rem;
    bottom: 3rem;
}

#offcanvas-add {
    background-color: #6f42c1;
    color: #ffffff;
    width: 100%;
}

#offcanvas-add:hover {
    background-color: #ffffff;
    color: #6f42c1;
}